.portafolio__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portafolio__item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 35rem;
}

.portafolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
    scale: 1.03;
}

.portafolio__item-image {
    width: 100%;
    height: 50%;
    border-radius: 1.5rem;
    overflow: hidden;
}

.portafolio__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}

.portafolio__item h3 {
    margin: 1.2rem 0 2rem;
}

.portafolio__technologies {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
    flex-flow: row wrap;
    margin-bottom: 2rem;
    margin-top: -2rem;
}

.portafolio__item-cta {
    display: flex;
    gap: 1rem;
}

.swiper-container{
    position: relative;
    width: 70%;
    margin: 0 auto;
}
.swiper-container .swiper-button-prev{
    left: -40px;
}
.swiper-container .swiper-button-next{
    right: -40px;
}
.swiper-container .swiper-pagination{
    bottom: -30px!important;
}
.sample-slider{
    /* width:70%; */    /* remove */
}
/*================= MEDIA QUERIES (MEDIUM DIVICES) ==================== */
@media screen and (max-width:1024px) {
    .portafolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/*================= MEDIA QUERIES (SMALL DIVICES) ==================== */
@media screen and (max-width:600px) {
    .portafolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}